body {
	background-color: __COLOR_BG__;
}

header {
	background-color: __COLOR_THEME__;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
	padding: 4px;
	text-align: center;

	img {
		height: 20px;
	}

	.dropdown-toggle {
		background-color: #9db;
		border-color: #8ca;
		padding: 2px 6px 3px 6px;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}
