{{#partial "_layout"
	title="Credits"
}}

<p>
	App _('made by'): Peter Paul Elfferich
	<a href="https://github.com/difosfor/positive-minute" target="_blank">(GitHub)</a>
	_('under')
	<a href="LICENSE" target="_blank">MIT</a>
	_('license').
</p>

<p>
	Icon _('made by'):
	<a href="http://www.flaticon.com/authors/madebyoliver" target="_blank">Madebyoliver</a>
	_('from')
	<a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a>
	_('under')
	<a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC 3.0 BY</a> _('license').
</p>

{{/partial}}
