{{#partial "_layout"
	title="_('Look at You!')"
	minute=minute
}}

<p>
	{{#order minute.nameCounts "nr" desc=true}}
		{{#if @first}}<ul class="list-group">{{/if}}
			<li class="list-group-item">
				<span class="tag tag-default tag-pill pull-xs-right">{{nr}}</span>
				{{name}}
			</li>
		{{#if @last}}</ul>{{/if}}
		{{else}}
		_('You have not taken any minutes yet.')
	{{/order}}
</p>

{{/partial}}
