{{#partial "_layout"
	title="__TITLE__"
}}

<p class="lead">
	Remind yourself of your positive qualities from time to time
	and find out what a wonderful person you are!
</p>

<p class="lead">
	<button
		class="btn btn-primary btn-block"
		on-click="app.open('#minute-' + Date.now())"
	>Take a Minute</button>
	<a class="btn btn-info btn-block" href="#history">History</a>
	<a class="btn btn-success btn-block" href="#totals">Look at You!</a>
	<a class="btn btn-secondary btn-block" href="#credits">Credits</a>
</p>

<p><em><small>
	Tip: In iOS tap
	<img style="height: 1.3em" src="images/ios-share-icon.png">
	or on Android tap
	<img style="height: 1.3em" src="images/android-menu-icon.png">
	and then tap "Add to Home Screen"
</small></em></p>

{{/partial}}
